@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: #ffe4c0;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hero-text {
  font-size: 4rem;
  font-style: bold;
  font-weight: 800;
  text-align: left;
}

.generate-button {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.generate-button:hover {
  background-color: #ffab4b;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: 175px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  padding: 1rem;
  margin: 1rem;
  z-index: 0;
  overflow: hidden;
  text-decoration: none;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 1.5rem 0;
  position: relative;
}

.footer-text-mesh {
  text-align: center;
}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-text {
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-right: 0.5rem;
  color: rgb(255, 255, 255);
}
